.card-admin-tabs {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  display: inline-block;
  margin: 85px 0px 20px 0px;
  width: 100%;

}


.a-admin > a{
  text-decoration: none;
  margin: 15px 10px 15px 10px;
  font-size: 16px;
  color: rgba(-2147483648,-2147483648,-2147483648,0.40);
  letter-spacing: -0.2px;
  line-height: 18px;
}

.a-admin>a:hover,.a-admin>a:active,.a-admin>a:focus{
  color: coral;
  text-decoration: none;
  cursor: pointer;
}


.admin-tabs {
  margin: 10px 0px 10px 0;
}

.admin-dash-card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  display: inline-block;
  height: 220px;
  max-width: 320px;
  width: 100%;
  align-items: center;
  margin: 15px 15px 15px 15px;
}

.admin-dash-card >h5{
  font-size: 16px;
  color: #131D24;
  letter-spacing: 0;
  margin-bottom: 35px;

}

.admin-dash-card > h2 {
  font-size: 48px;
  color: #131D24;
  letter-spacing: 0;
  margin-top: 50px;

}

.container-admin-panels{
  margin-top: 65px;
}

.container-admin{
  min-height: 1300px;
}
.nav-tabs > li > a {
  color: rgba(-2147483648,-2147483648,-2147483648,0.40) ;
}

.form-label {
  font-size: 16px;
  color: #1E1E1E;
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: left;
}

.col-inside{
  padding: 0px;
}

.tab-pane {
  padding: 0 15px 15px 15px;
  background-color: white;

}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.uploadlogo {
  cursor: pointer;
  height: 140px;
  width: 140px;
  border: 1px;
  border-style: solid;
  border-color: rgba(-2147483648,-2147483648,-2147483648,0.40);
  color: rgba(-2147483648,-2147483648,-2147483648,0.40);
  text-align: center;
}

.uploadcover {
  cursor: pointer;
  height: 140px;
  width: 100%;
  border: 1px;
  border-style: solid;
  border-color: rgba(-2147483648,-2147483648,-2147483648,0.40);
  color: rgba(-2147483648,-2147483648,-2147483648,0.40);
}



.uploadcloud{
  margin-bottom: auto;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
}

.col-logo{
  text-align: left;
}
