.restaurant-popular {
  max-width: 270px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;

}

.container-restaurants {
  padding-bottom: 100px;
}

.home-masthead {
  height: 680px;
  position: relative;
  background-color: #343a40;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.home-masthead > .container {
  height: 100%;
}

.home-masthead > .container > .row {
  height: 100%;
  display: flex;
  align-items: center;
}

div.home-masthead h1 {
  font-size: 48px;
  color: #FFFFFF;
}

div.home-masthead h3 {
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 10px;
  padding-bottom: 30px;
}

.home-form-control {
  border: none;
  height: 56px;
}

.btn-home {
  border: none;
  border-radius: 0;
  height: 56px;
  background-color: coral;
  color: white;
}

.btn-home:hover, .btn-home:focus {
  color: white;
  background-color: coral;
  border-color: coral;
  box-shadow: 0 0 4px coral;
}

.container-h3 {
  margin-top: 73px;
  font-size: 30px;
  margin-bottom: 40px;
}

.container + .home-masthead {
  background-color: #343a40;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/mastpop.jpg") no-repeat center center;
  background-size: cover;
  height: 584px;
}

.card-blog {
  box-shadow: none;
  width: 300px;
  display: inline-block;
  text-align: left;
}

.card-blog> div {
  padding: 0px;
  margin: 0px;
  width: inherit;
}

.card-blog > img {
  height: 180px;
  width: inherit;
}

.card-blog > div h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.heading-blog{
  margin-bottom: 5px;
  padding-bottom: 0px !important;
}

.container + .home-masthead h3 {
  font-size: 30px;
}

.glyphicon-star, .glyphicon-star-empty {
  color: goldenrod;
  font-size: 18px;
}

.dolar-full {
  color: black;
}

.filter-container{
  padding-top: 60px;
}

.filter-row{
  min-height: 1480px;
}

.col-submit{
  margin-top:30px;
}

.carousel-control {
  color: black;
}

.carousel-indicators li {
  display: none;
}
.right.carousel-control, .left.carousel-control {
  background-image: none;
}
