
.login-form-control{
  border-radius: 1px;
  box-shadow: inset 0 0 2px rgba(1,0,0,0.4) !important;
  width: 100%;
  outline: none;
  border: coral;
}

.login-form-control:focus {
  border-color: coral !important;
  box-shadow: 0 0 4px coral !important;

}

.formg {
  padding-top: 10px;
  margin-bottom: 0px;
}

.input-h {
  min-height: 55px;
}

.container-form {
  padding-top: 175px;
  padding-bottom: 620px;
  max-width: 465px
}

.login-h3 {
  margin: 0px
}

.login-a {
  color: #FD6F60
}

.login-form-group {
  padding-top: 10px;
  margin-bottom: 10px
}

.bottom {
  padding-bottom: 40px;
}

.btn-submit {
  background-color: coral !important;
}
