.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


.masthead {
  position: relative;
  background-color: #343a40;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

}


div.masthead h1 {
  font-size: 48px;
  color: #FFFFFF;
}

div.masthead h3 {
  font-size: 20px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  div.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  div.masthead h1 {
    font-size: 3rem;
  }
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  position: relative;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  background: #131D24;
  height: 150px;
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .right-footer-col{
    text-align: right;
  }
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}

@media screen and (min-width: 1454px) {
  .container {
    max-width: 1440px;
  }
}

.footer-left{
  opacity: 0.4;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}


.footer-right{
  font-size: 16px;
  color: #FFFFFF;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
