body {
  padding: 0;
}

 .pagination, .carousel, .panel-title a { cursor: pointer; }


.masthead {
  position: relative;
  background-color: #343a40;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}


.popular-loc{
  margin-bottom: 204px;
}

.pop-loc-info{
  width: fit-content;
}

.pop-loc-info>h4{
  font-size: 20px;
  color: #131D24;
  margin-bottom: 2px;
}


.pop-loc-info >p{
  opacity: 0.4;
  font-size: 18px;
  color: #131D24;
  margin-bottom: 25px;
}



/* Custom page header */
.header {
  position: relative;
}

.navbar{
  background: none;

  border: none;
  margin:0;
}
.navbar-fixed-top{
  position: absolute;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  background: #131D24;
  height: 150px;
}



@media screen and (min-width: 650px){
  .popular-rests{
    max-width: 630px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 990px) {
  .container {
    max-width: 980px;
  }
  .right-footer-col{
    text-align: right;
  }
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}

@media screen and (min-width: 1454px) {
  .container {
    max-width: 1440px;
  }
  .popular-rests{
    max-width: 930px;
  }
}

.footer-left{
  opacity: 0.4;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}


.footer-right{
  font-size: 16px;
  color: #FFFFFF;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.form-control{
  border-radius: 0px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.075);

}



select{
-webkit-appearance: listbox;
}

select.input-lg {
  height: 55px;
  line-height: normal;

}

.form-control:focus {
  box-shadow: 0px 1px 0px 0px coral;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}


/*cards*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 423px;
  max-width: 300px;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}

.card  img {
  max-width: inherit;
  height: 240px;
}

.card div{
  text-align: left;
  margin-bottom: 25px;
  margin-top: 15px;
  width: inherit;
}

.card div h3 {
  font-size: 24px;
  margin: 0;
  padding: 0 0 8px 0;
}

.card div ul{
  height: fit-content;
  margin: 0;
  padding: 0 0 8px 0;
}

.card div hr {
  padding-top: 5px;
  width: inherit;
  margin: 0px;
}

.card div ul li {
  padding: 0px;
}

.card button{
  max-width: inherit;
  background-color: lightgray;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.input-lg{
  font-size: 14px;
}

.btn-location{
  text-align: left;
  padding: 0px;
  background: none;
  border: none;
  height: fit-content;
  outline: none;
}

.btn-location:hover>h4{
  color: coral;
}

.loading{
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile {
  height: 182px;
  width: 210px;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

.profile >img {
  height: 172px;
  width: 200px;
}

.rate
{
  outline: none;
}

.rate >span {
  outline: none;
}

