body {
  padding: 0;
}

.masthead {
  position: relative;
  background-color: #343a40;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

}

.mastdish{
  position: relative;
  background-color: #343a40;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mastpop.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

div.masthead h1 {
  font-size: 48px;
  color: #FFFFFF;
}

div.masthead h3 {
  font-size: 20px;
  color: #FFFFFF;
}

@media (min-width: 0px) {
  div.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  div.masthead h1 {
    font-size: 3rem;
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  position: relative;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  background: #131D24;
  height: 150px;
}



@media screen and (min-width: 650px){
  .popular-rests{
    max-width: 630px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 990px) {
  .container {
    max-width: 930px;
  }
  .right-footer-col{
    text-align: right;
  }
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}

@media screen and (min-width: 1454px) {
  .container {
    max-width: 1440px;
  }
  .popular-rests{
    max-width: 930px;
  }

}

.footer-left{
  opacity: 0.4;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}


.footer-right{
  font-size: 16px;
  color: #FFFFFF;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.restaurant-popular{
  max-width: 270px;
  padding-bottom: 50px;

}


/*forms css*/

.formg {
  padding-top: 10px;
  margin-bottom: 0px;
}

.input-h {
  min-height: 55px;
}

