.header {
  position: relative;
}

.navbar{
  background: none;

  border: none;
  margin:0;
}
.navbar-fixed-top{
  position: absolute;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
.logout-dropdown-div:hover > a , .logout-dropdown-div :focus> a, .logout-dropdown-div :active> a
{
  color: coral !important;
  background-color: transparent !important;
}

.navbar-inverse .navbar-brand:hover{
  color: gray;
}

.navbar-inverse .navbar-toggle {
  border-color: #333;
  background-color: black;
}
.in {
  background-color: white;
}

@media (min-width: 768px) {
  .in {
    background-color: transparent;
  }
}

.navbar-nav{
  margin-top: 0px !important;
}

.logout-yes-button {
  background: coral;
  color: white;
  height: 40px;
  width: 60px;
}

.logout-no-button {
  background: lightslategray;
  color: white;
  height: 40px;
  width: 60px;
}


.logout-no-button:hover, .logout-no-button:active, .logout-no-button:focus{
  background: lightslategray;
  color: white;
  border-color: lightslategray;
  box-shadow: 0 0 4px lightslategray;

}
.logout-dropdown{
  background-color: whitesmoke;
  padding: 0 5px 10px 10px;

}

.logout-dropdown-div > a{
  color: #9d9d9d;
  background-color: transparent !important;
  cursor: pointer;
  text-decoration: none;

}

.logout-dropdown-div{
  padding: 15px 15px 15px 15px;
}
