.container-card {
  margin: 3px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.181) 0px 0px 9px 0px;
  background: white;
  width: 100%;
  margin-bottom: 80px;
  padding: 24px 30px 35px 30px;
}

.head {
  font-size: 36px;
  color: #262626;
  letter-spacing: 0;
  margin-top: 120px;
  margin-bottom: 60px;
}

.reservation-details-head{
  font-size: 20px;
  margin: 0px 0 20px 0;
  padding-left: 15px;
  color: rgba(19,29,36,0.40);
}

.reservation-det-name{
  opacity: 0.4;
  font-size: 14px;
  color: #171717;
}

.reservation-info{
  font-size: 20px;
  color: #131D24;
}

.rest-name{
  font-size: 20px;
  color: #FD6F60;
}

.btn{
  border-radius: 0px;
  border-color: coral;
  background-color: coral !important;
  color: white;
}
.btn:hover, .btn:focus {
  color:white;
  background-color: coral;
  border-color: coral;
  box-shadow:  0 0 4px coral;
}

.progress-bar{
  background-color: coral;
}

.sign-in{
  color: coral;
  font-size: 18px;
  border: none;
  box-shadow: none;
}

.sign-in:focus{
  outline:  none;
}

.reserve-form {
  margin-top: 20px;

}

.btn-submit {
  margin-top: 200px;
  max-width: 300px;
  margin-bottom: 40px;
 }

h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.terms{
  font-size: 14px;
  color: #878787;
  letter-spacing: 0;
  margin-bottom: 220px;
}

.request{
  line-height: 1.75;
}

.profile {
  height: 182px;
  width: 210px;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: coral;
  margin-top: 10px;
}

.col-input {
  padding: 20px 0 20px 0;
}

select.input-lg {
  height: 46px;
  line-height: normal;

}

.exclamation{
  color: red;
}

.ok{
  color: limegreen;
}

.warning {
  font-size: 15px;
  margin: 0px 0 20px 0;
  color: rgba(19,29,36,0.40);
}

.form-control:focus {
  border-color: coral;
  box-shadow: 0 0 4px coral;

}


.alert-expired{
  margin-top: 50px;
  margin-bottom: 200px;
}
