.profile {
  height: 182px;
  width: 210px;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

.container-info {
  background: none;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 67px;
}

.container-card {
  margin: 3px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.181) 0px 0px 9px 0px;
  background: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 24px 30px 23px 30px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.form-control{
  border-radius: 0px;
}

.form-control:focus {
  border-color: coral;
  box-shadow:  0 0 4px coral;
}


.btn{
  border-radius: 0px;
  border-color: coral;
}

.map {
  height: 250px;
  margin: 0 -30px 30px -30px;
  margin-top: 24px;
  width: calc(100% + 60px);

}


.list-group-item{
  border: none;
  padding-bottom: 7px;
}
