

.restaurant-masthead{
  background-color: #343a40;
  height: 340px;
  padding: 0;
  overflow:hidden;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;

}

.restaurant-masthead > img{
  filter: brightness(50%);
  width: 100%;
  min-height: 340px;
  display: block;

}

.main{
  transform: translateY(-120px);
}

.container-info {
  background: none;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 67px;
}

.restaurant-h3,.restaurant-li {
  color:white;
}

.restaurant-h3-rate {
  color: black;
}

.restaurant-rate .glyphicon-star{
  font-size: 30px;
}


.restaurant-rate .glyphicon-star-empty{
  font-size: 30px;
}

.restaurant-h5{
  font-size: 20px;
  color: rgba(19,29,36,0.40);
  margin-bottom: 25px;
}

.restaurant-form-control{
  height: 56px;
  border: 0px;
}

.form-btn{
  height: 56px;
}

.btn-restaurant{
  border-radius: 0px;
  border-color: coral;
  background-color: coral;
  color: white;
}
.btn-restaurant:hover, .btn-restaurant:focus {
  color:white;
  background-color: coral;
  border-color: coral;
  box-shadow:  0 0 4px coral;
}

.angular-google-map-container {
  height: 250px;
  margin: 0 -30px 30px -30px;
  margin-top: 24px;
  width: calc(100% + 60px);
}

hr {
  margin: 0 -30px 30px -30px;
  width: calc(100% + 60px);

}


.list-group-item{
  border: none;
  padding-bottom: 7px;
}

.modal-body{
  padding: 0px 30px 50px 30px;

}

.modal-header{
  border-bottom: 0px;
  text-align: center;
  padding-top: 50px;
}

.modal-title{
  color: black;
}

.type-title{
  font-size: 18px;
}

.restaurant-rate{
  font-size: 30px;
}

.restaurant-rate >span {
  outline: none;
}



.dolar-full-restaurant{
  color: white;
}
.dolar-empty{
  color: gray;
}


.row-review{
  text-align: center;
  max-width: 450px;
}

textarea.restaurant-form-control{
  height: 233px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.back-icon-review{
  position: absolute;
  top: 20px;
  left: 20px;
}

.h5-heading-reservation{
  display: inline-grid;
}


.restaurant-p{
  margin-top: 15px;
}


.menu-heading{
  float: left;
  display: inline-grid;
  margin-right: 20px;
}

.btn-menu{
  background-color: white;
  color: coral;
  margin: 5px 10px 0 10px;
  border: none;
  float: none;
}

.btn-group > .btn.active{
  color: white;
  background: coral;

}

.see-full-menu{
  color: coral;
  text-align: center;
  font-size: 16px;
  width: fit-content;
  align-self: center;
  background-color: white;
  border: none;
}
.see-full-menu:hover, .see-full-menu :active, .see-full-menu:focus{
  background-color: white;
  color: coral;
  box-shadow: none;

}

.price {
  text-align: right;
}

.restaurant-h6{
  font-size: 14px;
  margin-bottom: 20px;
}

.dish-type-row{
  margin-bottom: 35px;
}

.fadeout {
  position: relative;
  bottom: 4em;
  height: 4em;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.menu-dish-description{
  font-size: 13px;
  color: rgba(-2147483648,-2147483648,-2147483648,0.40);
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 15px;
}

.menu-items{
 max-height: 400px;
 overflow: hidden;

}

.desc, .desc-p{
  font-size: 18px;
  letter-spacing: 0;
}
.desc {
  color: rgba(19,29,36,0.40);
}

.dish-row{
  margin:0px;
  margin-bottom: 8px;
}

.list-group-item{
  cursor: pointer;
}

.availability-info{
  font-size: 18px;
  color: #131D24;
}

.btn-reserv{
  max-width: 80px;
  margin-right: 10px;
  display: inline;
  margin-top: 0 !important;
}

.review-item-name{
  padding-top: 10px;
}


.review-item > hr {
  width:calc(100% + 60px)
}

.review-time{
  float: right;
  margin-top: 0px;
}

.review-card{
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
}

.anchors{
  background: #FBFBFA;
}

.middle{
  vertical-align: middle;
}

.card-review{
  margin-bottom: 200px;
}
