.profile {
  height: 182px;
  width: 210px;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

.container-info {
  background: none;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 67px;
}

.container-card {
  margin: 3px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.181) 0px 0px 9px 0px;
  background: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 24px 30px 45px 30px;
}



h5{
  font-size: 20px;
  color: rgba(19,29,36,0.40);
  margin-bottom: 25px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.form-control{
  height: 56px;
  border-right: 0px;
}



.form-btn{
  height: 56px;
}

.btn{
  border-radius: 0px;
  border-color: coral;
  background-color: coral;
  color: white;
}
.btn:hover, .btn:focus {
  color:white;
  background-color: coral;
  border-color: coral;
  box-shadow:  0 0 4px coral;
}

.map {
  height: 250px;
  margin: 0 -30px 30px -30px;
  margin-top: 24px;
  width: calc(100% + 60px);

}


.list-group-item{
  border: none;
  padding-bottom: 7px;
}

/*modal body
 */

.modal-body{

  padding: 30px;
  padding-bottom: 50px;
}

.modal-header{
  border-bottom: 0px;
  text-align: center;
  padding-top: 50px;
}

.rate{
  font-size: 30px;
  color: goldenrod;
}

.rate> span:focus{
  outline: none;
}

.row-review{
  text-align: center;
  max-width: 450px;
}

textarea.form-control{
  height: 233px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.back-icon-review{
  position: absolute;
  top: 20px;
  left: 20px;
}

.h5-heading-reservation{
  display: inline-grid;
}


p{
  margin-top: 15px;
}
