<body>

  <div class="container text-center container-admin">

    <div class="card-admin-tabs">
      <ul class="list-inline text-left admin-tabs">
        <li class="a-admin">
          <a >Dashboard</a>
        </li>
        <li class="a-admin">
          <a >Restaurants</a>
        </li>
        <li class="a-admin">
          <a >Locations</a>
        </li>
        <li class="a-admin">
          <a >Categories</a>
        </li>
        <li class="a-admin">
          <a >Users</a>
        </li>
      </ul>
    </div>

    <div class="container-admin-panels">

      <!--Dashboard-->
      <div class="row" ng-show="dashboardOpen">
        <div class="col-xs-12 col-sm-4">
          <div class="admin-dash-card">
            <h2>12141</h2>
            <h5>Restaurants</h5>
            <button class="btn btn-block btn-home ">Add a Restaurant</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="admin-dash-card">
            <h2>12141</h2>
            <h5>Locations</h5>
            <button class="btn-block btn-home btn-admin-dash">Add a Location</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="admin-dash-card">
            <h2>12141</h2>
            <h5>Users</h5>
            <button class="btn-block btn-home btn-admin-dash">Add a User</button>
          </div>
        </div>
      </div>

      <!--Restaurant panel-->
      
    </div>


  </div>
</body>
