<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-md-6 ">
      <ul class="list-inline text-left" >
        <li>
          <a href="#/" class="footer-left">Privacy Policy</a>
        </li>
        <li>
          <a href="#/" class="footer-left">Terms of use</a>
        </li>
        <li>
          <a href="#/" class="footer-left">Sitemap</a>
        </li>
        <li>
          <a href="#/" class="footer-left">Mobile site</a>
        </li>
      </ul>

    </div>
    
    <div class="col-sm-12 col-md-6 right-footer-col "  >
      <ul class="list-inline " >
        <li>
          <a href="#/" class="footer-right">About Us</a>
        </li>
        <li>
          <a href="#/" class="footer-right">Blog</a>
        </li>
        <li>
          <a href="#/" class="footer-right">Careers</a>
        </li>
        <li>
          <a href="#/" class="footer-right">Press</a>
        </li>
        <li>
          <a href="#/" class="footer-right">Advertise</a>
        </li>
      </ul>
    </div>
  </div>
  <a class="footer-left">Copyright © 2016 All rights reserved.</a>
</div>


