<head>
  <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
  <div class="masthead text-center">
    <div class="container">
      <div class="row">
        <div class=" col-xs-12">
          <h1 >Make a free reservation </h1>
          <h3 >Choose your table from n restaurants near you</h3>
          <form ng-controller="ReservationBarController as $ctrl" ng-submit="homeSearch()">
            <div class="row no-gutters form-row">
              <div class="col-sm-12 col-md-4">
                <input type="search" class="form-control form-control-lg" ng-model="searchHome" placeholder="Location, Restaurant or Cousine ">
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <select class="custom-select form-control " ng-model="selectedNumber" ng-options="people for people in numberPeople" required>
                  <option value="" selected disabled >Number of guests</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <input type="date" class="form-control " ng-model="selectedDate" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" value="{{selectedDate  | date:'yyyy-MM-dd'}}" >

              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <input type="time" class="form-control" ng-model="selectedTime"  step="900" min="{{minTime | date:'HH:mm'}}" max="22:00" value="{{selectedTime| date:'HH:mm'}}"  required>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <select class="custom-select form-control " ng-model="selectedLength" ng-options="minutes for minutes in numberMinutes" required>
                  <option value="" selected disabled >Duration (minutes)</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-5 col-submit">
                <button type="submit" class="btn btn-block btn-primary form-btn">Find a table</button>
              </div>
            </div>
        </form>
      </div>
      </form>
    </div>
  </div>
</div>
</div>



<div class="container text-center container-restaurants">
  <h3 resize>Popular for Lunch Today </h3>

  <div uib-carousel ng-if="windowWidth <755" active="1">
    <div uib-slide ng-repeat="y in restaurants" index=$index>
      <div class="card">
        <img ng-src="{{y.imageFileName}}">
        <div class="container">
          <h3>
            {{y.restaurantName}}
          </h3>
          <ul class="list list-inline ">
            <li>
              <span class="glyphicon glyphicon-star " ng-repeat="n in range(y.mark)"></span><span
              class="glyphicon glyphicon-star-empty " ng-repeat="n in range(5-y.mark)"></span>
            </li>
            <li>
              <span>({{y.votes}})</span>
            </li>
            <li>
              <span class="glyphicon glyphicon-usd dolar-full" ng-repeat="n in range(y.priceRange)"></span><span
              class="glyphicon  glyphicon-usd dolar-empty" ng-repeat="n in range(5-y.priceRange)"></span>
            </li>
          </ul>
          <hr>
          <p style="color: gray">
            {{y.foodType}}
          </p>
        </div>
        <button type="button" class="btn btn-block " ng-click="save(y)">Reserve Now</button>
      </div>
    </div>
  </div>

  <div class="row " ng-if="windowWidth >755">
    <div class=" col-sm-6 col-md-4 " ng-repeat="y in restaurants">

      <div class="card">
        <img ng-src="{{y.imageFileName}}">
        <div class="container">
          <h3>
            {{y.restaurantName}}
          </h3>
          <ul class="list list-inline ">
            <li>
              <span class="glyphicon glyphicon-star " ng-repeat="n in range(y.mark)"></span><span
              class="glyphicon glyphicon-star-empty " ng-repeat="n in range(5-y.mark)"></span>
            </li>
            <li>
              <span>({{y.votes}})</span>
            </li>
            <li>
              <span class="glyphicon glyphicon-usd dolar-full" ng-repeat="n in range(y.priceRange)"></span><span
              class="glyphicon  glyphicon-usd dolar-empty" ng-repeat="n in range(5-y.priceRange)"></span>
            </li>
          </ul>
          <hr>
          <p style="color: gray">
            {{y.foodType}}
          </p>
        </div>
        <button type="button" class="btn btn-block " ng-click="save(y)">Reserve Now</button>
      </div>
    </div>
  </div>
</div>

<div class="masthead text-center">
  <div class="container">
    <h3>Specials</h3>
    <div uib-carousel active="0"  ng-if="windowWidth >755">
      <div uib-slide ng-repeat="n in range(numberRepeat)" index=$index>
        <div class="col-sm-4" ng-repeat="dish in [dishes[$index*3], dishes[1+$index*3], dishes[2+$index*3]] track by $index">

          <div class="card-blog" ng-if="dish.heading">
            <img src="images/sampleprofile.jpg">
            <div class="container " style="color: whitesmoke;">
              <h3 class="heading-blog"> {{dish.heading}}</h3>
              <ul class="list list-inline ">
                <li>
                  <p>{{dish.location}}</p>
                </li>
                <li>
                  <p>|</p>
                </li>
                <li>
                  <p>{{dish.numRestaurants}} restaurants</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>


    </div>
    <div uib-carousel active="0"  ng-if="windowWidth <755">
      <div uib-slide ng-repeat="dish in dishes" index=$index>
        <div class="col-sm-4">
          <div class="card-blog" >
            <img src="images/sampleprofile.jpg">
            <div class="container " style="color: whitesmoke;">
              <h3 class="heading-blog"> {{dish.heading}}</h3>
              <ul class="list list-inline ">
                <li>
                  <p>{{dish.location}}</p>
                </li>
                <li>
                  <p>|</p>
                </li>
                <li>
                  <p>{{dish.numRestaurants}} restaurants</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-controller="PopularLocationsController" class="container popular-loc">
  <h3 class="text-center">Popular locations</h3>
  <div class="row popular-locations-row">

    <div class="col-xs-6 col-sm-3 col-md-3 text-left " ng-model="name" ng-repeat="name in popularLocations">
      <button class="btn-location center-block pop-loc-info" ng-click="filterLocations(name.location)">
        <h4 >{{name.location}}</h4>
        <p class="number">{{name.num}} restaurants</p>
      </button>
    </div>
  </div>
</div>


</body>
