<head>
  <link rel="stylesheet" href="../styles/loginregister.css">
</head>

<body>

<div class="container container-form">
  <form name="loginForm" ng-submit="loginSubmit(loginForm.$valid)" novalidate>

    <ul class="list list-inline">
      <li>
        <h3>Login</h3>
      </li>
      <li class="pull-right ">
        <p><a href="#/register">Create Account</a></p>
      </li>
    </ul>

    <div class="form-group login-form-group"
         ng-class="{'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
      <input name="email"
             class="form-control input-lg input-h"
             type="email"
             id="email"
             placeholder="Email"
             ng-model="email"
             required="required">
      <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>

    </div>
    <div class="bottom">
      <input name="password"
             class="form-control input-lg input-h"
             type="password"
             id="password"
             placeholder="Password"
             ng-model="password"
             required="required">
    </div>

    <div ng-if="error" class="alert alert-danger">{{error}}</div>

    <button type="submit"
            class="btn btn-primary btn-block no-border btn-lg input-h btn-submit"
            ng-disabled="loginForm.$invalid">
      Login
    </button>
    <div>
      <img class="center-block loading" src="../images/ajax-loader.gif" ng-show="loading" />
    </div>

  </form>
</div>
</body>
