<div class="masthead text-white text-center">
  <div class="container">
        <h1 >Make a free reservation</h1>
        <h3 >Choose your table from n restaurants near you</h3>
        <form >
          <div class="row no-gutters">
            <div class="col-sm-12 col-md-6">
              <input type="search" class="form-control form-control-lg" placeholder="Location, Restaurant or Cousine ">
            </div>
            <div class="col-sm-3 col-md-1" >
              <select ng-model="people" class="form-control" ng-options="x for(x,y) in tables" ></select>
            </div>
            <div class="col-sm-3 col-md-1">
              <input type="date" class="form-control" >

            </div>
            <div class="col-sm-3 col-md-1">
              <input type="time" class="form-control" >

            </div>
            <div class="col-sm-3 col-md-3">
              <button type="submit" class="btn btn-block btn-md btn-primary  " style="background-color: coral">Find a table</button>
            </div>
          </div>

        </form>
  </div>
</div>
