<div class="masthead text-center">
  <div class="container">
        <h1 >Make a free reservation</h1>
        <h3 >Choose your table from n restaurants near you</h3>
        <form >
          <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
              <input type="search" class="form-control form-control-lg" placeholder="Location, Restaurant or Cousine ">
            </div>
            <div class=" col-sm-3 col-md-2" >
                <select class="custom-select form-control" required>
                  <option value="">Two</option>
                  <option value="1">One</option>
                  <option value="2">Four</option>
                  <option value="3">Three</option>
                </select>

            </div>
            <div class=" col-sm-3 col-md-2">
              <input type="date" class="form-control " >

            </div>
            <div class=" col-sm-3 col-md-2">
              <input type="time" class="form-control" >

            </div>
            <div class="col-sm-3 col-md-2">
              <button type="submit" class="btn btn-block btn-primary" style="background-color: coral">Find a table</button>
            </div>
          </div>

        </form>
  </div>
</div>

<div class="container text-center popular-rests"  >
  <h3 style="padding-bottom: 30px" resize>Popular for Lunch Today </h3>


  <div uib-carousel ng-if="windowWidth <755" active="1" >
    <div uib-slide ng-repeat="y in restaurants"  index=$index>
      <div class="container text-left " style="max-width: 270px; padding: 0px; padding-bottom: 30px" >
        <div class="card">
          <img src="images/sampleprofile.jpg" style="height: 230px; max-width: 270px;">
          <div class="container">
            <h3 style="margin-top: 15px;
                     margin-bottom: 8px">
              {{y.restaurantName}}
            </h3>

            <ul class="list list-inline ">
              <li>
                <span class="glyphicon glyphicon-star " style="color: orange" ng-repeat="n in range(y.mark)"></span><span class="glyphicon glyphicon-star-empty " style="color: orange" ng-repeat="n in range(5-y.mark)"></span>
              </li>
              <li>
                <div>({{y.votes}})</div>
              </li>
              <li>
                <span class="glyphicon glyphicon-usd " ng-repeat="n in range(y.priceRange)"></span><span class="glyphicon  glyphicon-usd" style="color: gray" ng-repeat="n in range(5-y.priceRange)"></span>
              </li>
            </ul>
            <hr style="padding-bottom: 3px;
                     margin: 0px;
                     width: 100%;
                     color: gray;">

            <p1 style="color: gray">
              {{y.foodType}}
            </p1>
            <button type="button" class="btn btn-block btn-default" style="width: 100%; margin-top: 20px">Reserve Now</button>

          </div>
        </div>


      </div>
    </div>
  </div>

  <div  class="row " ng-if="windowWidth >755" >
      <div class=" col-sm-6 col-md-4 " ng-repeat="y in restaurants">
        <div class="container restaurant-popular text-left">
          <img src="images/sampleprofile.jpg" style="height: 230px; width: 270px;">

          <h3 style="margin-top: 15px;
                     margin-bottom: 8px">
            {{y.restaurantName}}
          </h3>

          <ul class="list list-inline ">
            <li>
              <span class="glyphicon glyphicon-star " style="color: orange" ng-repeat="n in range(y.mark)"></span><span class="glyphicon glyphicon-star-empty " style="color: orange" ng-repeat="n in range(5-y.mark)"></span>
            </li>
            <li>
              <div>({{y.votes}})</div>
            </li>
            <li>
              <span class="glyphicon glyphicon-usd " ng-repeat="n in range(y.priceRange)"></span><span class="glyphicon  glyphicon-usd" style="color: gray" ng-repeat="n in range(5-y.priceRange)"></span>
            </li>
          </ul>
          <hr style="padding-bottom: 3px;
                     margin: 0px;
                     min-width: 270px;
                     color: gray;">

          <p1 style="color: gray">
            {{y.foodType}}
          </p1>
          <button type="button" class="btn btn-block btn-default" style="min-width: 270px; margin-top: 20px">Reserve Now</button>

        </div>
      </div>
    </div>
</div>

<div class="mastdish text-center">
  <div class="container">
    <h3 style="padding-bottom: 30px; color: white">Specials</h3>

    <div uib-carousel active="1" >
      <div uib-slide ng-repeat="dish in dishes"  index=$index>
        <div class="container text-left " style="max-width: 300px; padding: 0px; padding-bottom: 30px" >
          <div class="card">
            <img src="images/sampleprofile.jpg" style="height: 180px; width: 300px;">
            <div class="container " style="color: whitesmoke;">

              <h5> {{dish.heading}}</h5>
              <ul class="list list-inline " >
                <li>
                  <p5>{{dish.location}}</p5>
                </li>
                <li>
                  <p5>|</p5>
                </li>
                <li>
                  <p5>{{dish.numRestaurants}} restaurants</p5>
                </li>
              </ul>
            </div>

          </div>


        </div>


        </div>
    </div>

  </div>
</div>

<div class="container text-left popular-rests" style="padding-bottom: 20px; padding-top: 20px;" >
  <h3 style="padding-bottom: 30px; text-align: center">Popular locations</h3>
  <div class="row " style="padding-bottom: 30px" >
    <div class="col-md-3 " ng-repeat="location in poplocs">
      <h4 style="margin-bottom: 0px; padding-bottom: 0px; padding-top: 25px">{{location.name}}</h4>
      <p4 style="color: darkgray">{{location.num_restaurants}} restaurants</p4>
    </div>
  </div>
</div>

