<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="../styles/reservation.css">

</head>
<body>
  <div class="container">
    <div class="row text-center">
      <h3 class="head">Complete your reservation</h3>
    </div>
    <div class="container-card" >
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h5 class="reservation-details-head">Reservation Details</h5>
        </div>
        <div class="col-xs-12 col-sm-6">
          <uib-progressbar value="counter" class="progress-reservation" max="180" >You have {{(counter/60)-(counter%60)/60 | number : 0}}:{{counter%60}} minutes to complete your reservation.</uib-progressbar>
        </div>
        <div class="col-xs-12 col-sm-3 ">
          <div class="profile"></div>
        </div>
        <div class="col-xs-12 col-sm-9" >
          <h6 class="reservation-det-name">RESTAURANT</h6>
          <p class="rest-name">Red Food</p>
          <div class="row">
            <div class="col-xs-3">
              <h6 class="reservation-det-name">GUESTS</h6>
              <p class="reservation-info">{{information.people}} People</p>
            </div>
            <div class="col-xs-5">
              <h6 class="reservation-det-name">DATE</h6>
              <p class="reservation-info">{{information.date | date:"fullDate"}}</p>
            </div>
            <div class="col-xs-4">
              <h6 class="reservation-det-name">TIME</h6>
              <p class="reservation-info">{{information.time | date:'HH:mm'}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div ng-if="currentUser" ng-controller="SubmitReservationController">
      <h4>Special Request:</h4>
      <form name="reserveLoggedIn" ng-submit="reservationSubmit()" class="text-center" novalidate>
        <textarea name="request" rows="1"
                  class="form-control input-lg input-h request"
                  type="text"
                  id="requestLogged"
                  placeholder="Add a special request (optional)"
                  ng-model="request"
        ></textarea>

        <button type="submit"
                class="btn btn-primary btn-block no-border btn-lg input-h btn-submit center-block ">
          Complete Reservation
        </button>

        <p class="terms">By clicking “Complete Reservation” you agree to the AppName Terms of use and Privacy Policy.</p>
      </form>
    </div>

    <div ng-if="!currentUser" ng-controller="SubmitReservationController">
      <h4>Already a member? <a href="#/login" class="sign-in">Sign in!</a> </h4>
      <h4>Register</h4>
      <form name="registerForm" ng-submit="registerSubmit(registerForm.$valid)" class="text-center" novalidate>

        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <input name="firstName"
                   class="form-control input-lg "
                   type="text"
                   id="firstName"
                   placeholder="First Name"
                   ng-model="firstName"
                   required="required"
            >
          </div>

          <div class="col-xs-12 col-sm-6 form-group ">
            <input name="lastName"
                   class="form-control input-lg "
                   type="text"
                   id="lastName"
                   placeholder="Last Name"
                   ng-model="lastName"
                   required="required"
            >
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-6 form-group" ng-class="{'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine}">
              <input name="email"
                     class="form-control input-lg  "
                     type="email"
                     id="email"
                     placeholder="Email"
                     ng-model="email"
                     required="required">
              <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Enter a valid email.</p>
          </div>

          <div class="col-xs-12 col-sm-6 form-group "
               ng-class="{'has-error' : registerForm.phone.$touched && !registerForm.phone.$valid  }">
            <input name="phone"
                   class="form-control input-lg "
                   type="text" id="phone"
                   placeholder="Phone Number"
                   ng-model="phone"
                   ng-minlength="9"
                   required="required">

            <p ng-show="registerForm.phone.$touched && !registerForm.phone.$valid" class="help-block">Phone number must be at least 9 cases long.</p>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 form-group ">
            <input name="password"
                   class="form-control input-lg "
                   type="password"
                   id="password"
                   placeholder="Password"
                   ng-model="password"
                   required="required">
          </div>

          <div class="col-xs-12 col-sm-6 form-group" ng-class="{'has-error' : registerForm.confirmPassword.$touched   && confirmPassword!=password}">
            <input name="confirmPassword"
                   class="form-control input-lg"
                   type="password"
                   id="confirmPassword"
                   placeholder="Confirm Password"
                   ng-model="confirmPassword"
                   required="required">
            <p ng-show=" registerForm.confirmPassword.$touched  && confirmPassword!=password" class="help-block">Passwords do not match.</p>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 row no-gutters">
            <div class="col-sm-6  ">

              <select class="custom-select form-control input-lg "
                      ng-model="country"
                      ng-options="c.country_name for c in locations"
                      required="required">
                <option value="" disabled selected>Country</option>
              </select>
            </div>

            <div class="col-sm-6 ">
              <select class=" form-control input-lg "
                      ng-model="city"
                      ng-options="d.valueOf() for d in country.city_names"
                      required="required">
                <option value="" disabled selected>City</option>
              </select>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 row no-gutters">
            <textarea name="request" rows="1"
                      class="form-control input-lg request"
                      type="text"
                      id="requestRegistered"
                      placeholder="Add a special request (optional)"
                      ng-model="request"
            ></textarea>
          </div>

        </div>

          <div ng-if="error" class="alert alert-danger">{{error}}</div>

        <button type="submit"
                class="btn btn-primary btn-block no-border btn-lg input-h btn-submit center-block "
                ng-disabled="registerForm.$invalid">
          Complete Reservation
        </button>

        <p class="terms">By clicking “Complete Reservation” you agree to the AppName Terms of use and Privacy Policy.</p>

      </form>
    </div>

  </div>

</body>
</html>
